# Eleventy output directory
_site/
dist/

# Dependencies
node_modules/

# Cache directories
.cache/
.eleventy-cache/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.sublime-workspace
*.sublime-project

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows specific
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Linux specific
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# BSD specific
.gdb_history
.gdbinit

# Common backup files
*.bak
*.gho
*.ori
*.orig
*.tmp

# Debug files
*.dump
*.core
*.stackdump

# Build process artifacts
.netlify/
.vercel/
.now/

# Optional: Uncomment if using TypeScript
# *.tsbuildinfo
# dist-types/

# Optional: Uncomment if using Sass
# .sass-cache/
# *.css.map
# *.sass.map
# *.scss.map

# Monorepo Consideration - if applicable, uncomment the following:
# **/node_modules/